@model Slider

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}


<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <img style="max-width:100%" src="~/images/@Model.Image" alt="Alternate Text" />
        </li>
    </ul>

    <a class="btn btn-primary" asp-action="Index">Go List</a>
    <h1>Silmek Isdediynize Eminsinizmi:</h1>
    <form method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>