@model WatchCard
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <h1>Main Image</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img style="max-width:100%" src="~/images/product/@Model.Image" alt="Alternate Text" />
                </li>
            </ul>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="width: 18rem;">
            <h1>Hover Image</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img style="max-width:100%" src="~/images/product/@Model.HoverImage" alt="Alternate Text" />
                </li>
            </ul>
        </div>
    </div>
</div>


<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label asp-for="MainImageFile"></label>
        <input class="form-control" accept="image/*" asp-for="MainImageFile">
        <span class="alert-danger" asp-validation-for="MainImageFile"></span>
    </div>
    <div class="mb-3">
        <label asp-for="HoverImageFile"></label>
        <input class="form-control" accept="image/*" asp-for="HoverImageFile">
        <span class="alert-danger" asp-validation-for="HoverImageFile"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Desc"></label>
        <input class="form-control" asp-for="Desc">
        <span class="alert-danger" asp-validation-for="Desc"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DescDetail"></label>
        <input class="form-control" asp-for="DescDetail">
        <span class="alert-danger" asp-validation-for="DescDetail"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Brand"></label>
        <input class="form-control" asp-for="Brand">
        <span class="alert-danger" asp-validation-for="Brand"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price"></label>
        <input class="form-control" accept="image/*" asp-for="Price">
        <span class="alert-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Star"></label>
        <input class="form-control" asp-for="Star">
        <span class="alert-danger" asp-validation-for="Star"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Stock"></label>
        <input class="form-control" asp-for="Stock">
        <span class="alert-danger" asp-validation-for="Stock"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Code"></label>
        <input class="form-control" asp-for="Code">
        <span class="alert-danger" asp-validation-for="Code"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IsFeatured"></label>
        <input class="form-control" asp-for="IsFeatured">
        <span class="alert-danger" asp-validation-for="IsFeatured"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IsBestSeller"></label>
        <input class="form-control" asp-for="IsBestSeller">
        <span class="alert-danger" asp-validation-for="IsBestSeller"></span>
    </div>
    <div class="mb-3">
        <label asp-for="IsNewArrivals"></label>
        <input class="form-control" asp-for="IsNewArrivals">
        <span class="alert-danger" asp-validation-for="IsNewArrivals"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IsDealsOftheWeek"></label>
        <input class="form-control" asp-for="IsDealsOftheWeek">
        <span class="alert-danger" asp-validation-for="IsDealsOftheWeek"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>