@model Category 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span class="alert-danger" asp-validation-for="Name"></span>
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>